.primary-block{
  padding:5%;
  width: auto;
  height: 25%;
}

.image-footer{
  width:40px;
  height: 40px;
  margin-left: 45%;
}

.image-death{
  width:40px;
  height: 40px;
  margin-left: 30%;
}

 .size-font{
    font-size:30px;
  }

.text-align{
  text-align: center;
}

.cell-left{
  margin-bottom: 50%;
}

.cell-right{
  margin-bottom: 50%;
  text-align: right;
}

.space-bottom{
  margin-bottom: 60px;
}
